/*Header section*/
.backgroundContainer{
    background-image: url("../pics/cca1e136569841.5720ffd3c7679.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}