<%- include("header") -%>
    <div class="container qualityBackground mt-5 pt-3 pe-3 ps-3">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h2 class="text-center">Hello, I'm Ghassan && Technology Enthusiast.</h2><br>
                <p>A dedicated student at Mount Royal University with a burning passion for the world of cybersecurity. My aspiration is to carve a path as a cybersecurity specialist, and I'm determined to make a meaningful impact in this dynamic field.</p>
                <p>My journey into the realm of technology began with troubleshooting and providing technical services, honing my analytical skills and fostering a customer-centric mindset. This foundation has proven invaluable as I navigate the intricate world of cybersecurity.</p>              
                <p>My technical expertise extends to web development, where I've mastered Python, ReactJS, Node.js, MongoDB, and SQL. These skills grant me a deep understanding of the technical intricacies that underlie cybersecurity, allowing me to contribute to creating secure digital solutions.</p>
                <p>I'm a firm believer in continuous learning and thrive in fast-paced environments. My ultimate goal is to safeguard digital landscapes and ensure the satisfaction of those I serve. I'm excited about the prospect of applying my knowledge and skills to thrilling new projects and collaborating with like-minded individuals to drive positive change in the world.</p>
                <div id="proList">
                    <h4 class="fw-bold">Projects:</h4>
                    <ul>
                        <li>
                            <a href="/bravimotor">Bravi motor bill maker</a>
                        </li>
                        <li>
                            <a href="/matrixcalulator">Matrix calulator</a>
                        </li>
                        <li>
                            <a href="/secretkeeper">Secret keeper</a>
                        </li>
                        <li>
                            <a href="/todo">To do list webapplication</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 IMGclass">
                <img src="pics/2023-01-12 17.25.jpg" class="proIMG">
            </div>
        </div>
    </div>
    </div>
    </header>
    <div id="bodyContainer">
        <div class="text-center pt-5 pb-5">
            <h2>Subscribe to my Newsdaily.</h2>
            <p>Sign up with your email address to receive news and updates. I won’t spam you I promise.</p>
            <input type="email" class="inputTextStyle">
            <input type="submit" class="inputButtonStyle">
        </div>
    </div>
    <%- include("footer") -%>