body{
    background-image: url("../../../../pics/cca1e136569841.5720ffd3c7679.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    font-size: 1.2em;
    color: white;
}

#lilyaPhoto{
    border: 3px solid white;
    border-radius: 0.8%;
    box-shadow: 0 0 20px black;
    margin-bottom: 5px;
}